body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.novosti {
  margin: 20px 0;
}

.primarna-novost img,
.novost img {
  max-width: 100%;
  height: auto;
}

.tekst-novosti {
  padding: 10px;
}

h1 {
  color: #ffffff;
}

p {
  color: #ffffff;
  margin: 5px 0;
}

.tekst-novosti {
  padding: 10px;
  margin-bottom: 20px;
  color: white;
}

.procitaj-vise:hover {
  background-color: #c82333;
}

.mreza-novosti {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.mreza-novosti1{
  display: flex;
}
.mreza-novosti1.novost{
  width: 70%;
}
@media screen and (max-width: 768px) {
  .mreza-novosti {
    grid-template-columns: repeat(1, 1fr);
  }
}
.mreza-novosti1 .novost:first-child {
  margin-right: 20px;
}

.mreza-novosti1 .novost:last-child {
  margin-left: 20px;
}
.container{
  margin: 0 10%;
}
.novost img {
  max-width: 100%;
  height: auto;
  border-radius: 20px; 
}
.mreza-novosti1 {
  display: flex;
}
.novost {
  position: relative;
  overflow: hidden;
}

.novost img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.novost:hover img {
  transform: scale(1.05);
}

.novost::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%);
  opacity: 0.4;
  border-radius: 25px;
}

.tekst-novosti {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  transition: opacity 0.3s ease;
}

.novost:hover .tekst-novosti {
  opacity: 1;
}
.mreza-novosti .novost {
  margin-bottom: 40px;
}
.mreza-novosti1 .novost {
  margin-bottom: 40px; 
}

.novost .btn {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  transition: font-size 0.3s ease; 
}


.novost:hover .btn {
  font-size: -20px; 
}

.novost .tekst-novosti {
  position: absolute;
  bottom: 40px; 
  left: 20px;
  color: #fff;
  transition: bottom 0.3s ease;
}

.novost:hover .tekst-novosti {
  bottom: 30px;
}