
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left, .right {
    width: 48%;
    overflow-y: auto;
    max-height: 700px;
}

h1 {
    margin-bottom: 20px;
}


div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    height: 250px; 
    resize: none; 
}

ul {
    list-style-type: none;
    padding: 0;
}

.news-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid black;
    }

.news-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
}

.news-header strong {
    font-weight: bold;
}


.news-content-preview {
    margin-top: 5px;
}

button.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #f44336;
    font-size: 18px;
}

button.delete-button:hover {
    color: #d32f2f;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.date_delete{
    display: flex;
    justify-content: center;
    align-items: center;
}
  