@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body {
  background: linear-gradient(to bottom, rgb(22, 5, 5), red, black);
  transition: background 0.5s ease; 
  font-family: Arial, sans-serif;
  margin: 0;
}

.wrapper {
  margin: 0 10%;
}


.season {
  text-align: center;
  color: white;
  font-weight: 400;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.position-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.position-group h2 {
  width: 100%;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.team-member {
  position: relative;
  width: calc(25% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.team-member img {
  width: 100%;
  border-radius: 5px;
}

.player-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.player-number {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-top-left-radius: 5px;
  font-size: 35px;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 2px hsl(0, 0%, 45%);
}

.player-name {
  font-size: 16px;
  
  letter-spacing: 2px;
  color: rgb(226, 17, 17);
  text-shadow: 2px 2px 2px black;
}

.player-surname {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 2px hsl(0, 0%, 45%); 
}
.position-group:first-child h2,
.position-group:last-child h2 {
  text-shadow: 2px 2px 2px red;
  font-weight: 400;
}

.position-group:nth-child(2) h2,
#midfield-group h2 {
  text-shadow: 2px 2px 2px black;
  font-weight: 400;
}

.navigation-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adjust as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
}

.navigation-button {
  font-size: 1em; /* Adjust size as needed */
  font-weight: bold; /* Make the text bold */
  padding: 8px 16px; /* Adjust padding as needed */
  margin: 0 10px; /* Adjust margin as needed */
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s, box-shadow 0.5s;
  box-shadow: 2px 4px 6px black; /* Add shadow */
}

.navigation-button:hover {
  background-color: red;
  box-shadow: 2px 6px 8px black; /* Add shadow on hover */
}
/* For mobile phones */
@media only screen and (max-width: 600px) {
  .team-member {
    width: 100%; /* Adjust width as needed */
  }
  .navigation-button {
    font-size: 6px; /* Adjust font size as needed */
    padding: 5px 10px; /* Add padding to the buttons */
    margin: 0 3px; /* Add margin between buttons */
  }
  
}

/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .team-member {
    width: 45%; /* Adjust width as needed for two pictures */
    margin: 2.5%; /* Add some margin between elements */
  }
  .navigation-button {
    font-size: 8px; /* Adjust font size as needed */
    padding: 10px 20px; /* Add padding to the buttons */
    margin: 0 5px; /* Add margin between buttons */
  }
}
