<!DOCTYPE html>
<html lang="bs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>NK Čelik</title>
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/fanshop.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/footer.css">

  <link rel="icon" type="image/x-icon" href="images/logo.png">
</head>
<body>
    <%- include('navbar') -%>
  <div class="head-section">
    <div class="dobrodoslica">
      <h1>Dobrodošli na NK Čelik Fan Shop!</h1>
      <p>Istražite našu kolekciju suvenira i pokažite podršku za fudbalski klub NK Čelik.</p>
    </div>
  </div>
  <div class="main-section">

    <div class="product-builder-wrapper">

      <div class="image-section">
        <p class="title">Dres NK Celik</p>
        <img class="logo-image" src="images/sponsors/telemach-logo.png">
        <div class="image-wrapper">
          <img src="images/fanshop/dres.png">
        </div>
      </div>
      <div class="configuration-section">
        <p class="section-title">Izaberite Garnituru</p>
        <div class="gostujuci" >
          <button>Gostujući dres 2023/2024</button>
        </div>
        <div class="divider"></div>
        <p>Izaberi Veličinu</p>
        <div class="velicine">
          <button class="velicine-btn">S</button>
          <button class="velicine-btn">XL</button>
          <button class="velicine-btn">XXL</button>
          <button class="velicine-btn" >XXXL</button>
        </div>
        <div>
          <p class="section-title">Logotip</p>
          <select>
            <option selected value="null">Bez odabira</option>
            <option> Bh Telecom </option>
            <option> WWin liga BiH </option>
            <option > Bh Telecom + WWin liga BiH </option>
          </select>
        </div>
        <div class="divider ng-star-inserted"></div>
        <div>
          <p class="section-title">Napravite sami</p>
          <div class="radios-wrapper velicine">
            <div style="width: fit-content;">
              <button class="velicine-btn">Bez natpisa</button>
            </div>
            <div style="width: fit-content;">
              <button class="velicine-btn">Izaberite igrača</button>
            </div>
            <div style="width: fit-content;">
              <button class="velicine-btn">Lično</button>
            </div>
          </div>
          <div class="divider"></div>
          <div class="selectable-configuration"></div>
        </div>
        <div class="price-wrapper">
          <p class="price-title">119.00 BAM</p>
        </div>
        <p>Količina</p>
        <div class="submit-wrapper">
          <div class="qty">
                <div class="qty-buttons">
              <button type="button" class="btn-dec" disabled=""> - </button>
              <span>1</span>
              <button type="button" class="btn-inc" disabled=""> + </button>
            </div>
          </div>
          <button class="btn" disabled="">Dodaj u korpu</button>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-section">
    <!-- Ostatak prodavnice ovdje -->
    <div class="topLeft">
      <h3 class="section-h3">NK CELIK </h3>
      <h2 class="section-h2">FAN SHOP</h2>
    </div>
    <div class="shop-items"> 
      <div class="shop-item">
        <img src="images/fanshop/dukserica.png" alt="Dukserica - Jedina zastava moja">
        <h2>Dukserica - 1945</h2>
        <p>67,00 KM</p>
        <button class="btn btn-maroon">Kupi</button>
      </div>
      <div class="shop-item">
        <img src="images/fanshop/majica.png" alt="Majica Reflektor 2">
        <h2>Muška Majica 1945</h2>
        <p>25,00 KM</p>
        <button class="btn btn-maroon">Kupi</button>
      </div>
      <div class="shop-item">
        <img src="images/fanshop/duksericaZlatna.png" alt="Dres 2020/21 treća garnitura">
        <h2>Unisex dukserica - Zlatni grb</h2>
        <p>99,00 KM</p>
        <button class="btn btn-maroon">Kupi</button>
      </div>
      <div class="shop-item">
        <img src="images/fanshop/dres.png" alt="Dukserica - trobojna">
        <h2>DRES 2020/21</h2>
        <p>62,00 KM</p>
        <button class="btn btn-maroon">Kupi</button>
      </div>
    </div>
  </div>
  <%- include('footer') -%>
</body>
</html>
