<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>NK Celik</title>
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/novosti.css">
  <link rel="icon" type="image/x-icon" href="images/logo.png">
</head>
<body>
  <%- include('navbar') -%>
<div class="container">
  <div class="novosti">
    <div class="primarna-novost">
      <img src="images/novosti.jpg" alt="Slika primarne novosti">
      <div class="tekst-novosti">
        <h1>Naslov novosti</h1>
        <p>Datum: 9. maj 2024.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dolore voluptatum repellendus!</p>
        <button class="procitaj-vise">Pročitaj više</button>
      </div>
    </div>
    <div class="mreza-novosti">
      <div class="novost">
        <img src="images/novosti.jpg" alt="Slika novosti 1">
        <div class="tekst-novosti">
          <h1>Naslov novosti </h1>
          <p>Datum: 8. maj 2024.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero temporibus laborum natus?</p>
          <button class="procitaj-vise">Pročitaj više</button>
        </div>
      </div>
      <div class="novost">
        <img src="images/novosti.jpg" alt="Slika novosti 2">
        <div class="tekst-novosti">
          <h1>Naslov novosti </h1>
          <p>Datum: 7. maj 2024.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit recusandae ab ipsa officiis.</p>
          <button class="procitaj-vise">Pročitaj više</button>
        </div>
      </div>
      <div class="novost">
        <img src="images/novosti.jpg" alt="Slika novosti 3">
        <div class="tekst-novosti">
          <h1>Naslov novosti </h1>
          <p>Datum: 6. maj 2024.</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, soluta itaque? Nihil ipsam rem molestias.</p>
          <button class="procitaj-vise">Pročitaj više</button>
        </div>
      </div>
    </div>
    <%- include('footer') -%>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>
